.bestof-info {
    display: block;
    float: left;
    width: 500px;
}

.bestof-photo {
    display: block;
    position: relative;
    float: right;
}

.slider .photo-credit {
    float: right;
    margin: 5px 1px 0 0;
}

.arrow {
    display: block;
    position: absolute;
    top: 260px;
}

.left {
    left: -84px;
}

.right {
    right: -84px;
}