p {
    margin-top: 1em;
    margin-bottom: 0;
}

h3 {
    padding-bottom: 0.2em;
}

.bestof-info {
    display: block;
    float: left;
    width: 500px;
}

.bestof-photo {
    display: block;
    position: relative;
    float: right;
}

.slider .photo-credit {
    float: right;
    margin: 5px 1px 0 0;
}

.arrow {
    display: block;
    position: absolute;
    top: 215px;
}

.left {
    left: -84px;
}

.right {
    right: -84px;
}