.bestof-info {
    display: block;
    float: left;
    width: 500px;
}

.bestof-photo {
    display: block;
    position: relative;
    float: right;
}

.slider .photo-credit {
    float: right;
    margin-top: 5px;
}