body {
    margin: 0;
    background-color: white;
    font-family: 'Droid Serif', serif;
}

footer {
    margin: 2em auto 0.5em auto;
    text-align: center;
    font-size: 0.8em;
    color: gray;
}

h1, h2, h3, h4 {
    margin: 0.2em 0;
    font-weight: normal;
    font-family: 'Droid Serif', serif;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

a:link {
    text-decoration: none;
    color: #00aeed;
    border: 0;
}

a:visited {
    text-decoration: none;
    color: #00aeed;
}

a:hover {
    text-decoration: none;
    color: #008ccb;
}

p {
    font-family: 'Droid Serif', serif;
    line-height: 1.5em;
}

.nameplate {
    display: block;
    background-color: black;
    margin: 1em auto 2em auto;
    border-bottom: 1px solid black;
}

    .nameplate:hover {
        background-color: #00aeed;
    }

.back-arrow {
    display: none; /* TODO: fix/remove */
    float: left;
    background-color: black;
}

.underline {
    border-bottom: 1px solid black;
}

.wrap {
    width: 970px;
    margin: 0 auto;
    position: relative;
}

.author {
    display: block;
    font-style: italic;
    font-family: 'Droid Serif', serif;
    margin: -1em 0 0 2em;
}

.caption {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    color: gray;
}

.photo-credit {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    color: gray;
    font-style: italic;
}

.lead {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.4em;
}

.aside {
    font-family: 'Droid Serif', serif;
    font-size: 1.8em;
    line-height: 1.4em;
    font-style: italic;
    display: block;
    width: 400px;
    color: gray;
    margin-bottom: 0.5em;
}

.left {
    float: left;
    margin-right: 0.5em;
}

.right {
    float: right;
    margin-left: 0.5em;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.emphasis {
    color: #00aeed
}

.light {
    color: white;
}

.refer {
    width: 242px;
    height: 161px;
    background-color: white;
    display: block;
    float: left;
    margin-bottom: 1em;
    box-shadow: 0 0 20px rgba(0,0,0, 0.5) inset;
    color: white;
    text-shadow: 1px 1px 2px black;
    text-align: right;
    font-size: 1.5em;
    padding: 1em;
}

    .refer:hover {
        box-shadow: 0 0 40px rgba(0,0,0, 0.5) inset;
    }