body {
    margin: 0;
    background-color: white;
    font-family: 'Droid Serif', serif;
}

h1, h2, h3, h4 {
    margin: 0.2em 0;
    font-weight: normal;
    font-family: 'Droid Serif', serif;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

a:link {
    text-decoration: none;
    color: #008ccb;
    border: 0;
}

a:visited {
    text-decoration: none;
    color: #008ccb;
}

a:hover {
    text-decoration: underline;
    color: #00aeed;
}

p {
    font-family: 'Droid Serif', serif;
    line-height: 1.5em;
}

.nameplate {
    display: block;
    background-color: black;
    margin: 0.5em auto 1em auto;
    border-bottom: 1px solid black;
}

    .nameplate:hover {
        background-color: #00aeed;
    }

.emphasis {
    color: #00aeed
}

.underline {
    border-bottom: 1px solid black;
}

.wrap {
    width: 970px;
    margin: 0 auto;
}

.author {
    display: block;
    font-style: italic;
    font-family: 'Droid Serif', serif;
    margin: -1em 0 0 2em;
}

.caption {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 0.8em;
    color: gray;
}

.photo-credit {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 0.8em;
    color: gray;
    font-style: italic;
}

.lead {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.2em;
    line-height: 1.4em;
}