body {
    background-image: url('../img/sp/bg.png');
}

.bg-text {
    position: absolute;
    top: 120px;
    left: 40px;
    font-weight: bold;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgba(255,255,255, 0.2);
    font-size: 5em;
    text-transform: uppercase;
}

.bd-intro {
    text-align: center;
    margin: 250px auto 0 auto;
    width: 900px;
}

.btn-light {
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: 2px solid white;
    background-color: rgba(255,255,255, 0.15);
    color: white;
}

    .btn-light:hover {
        background-color: rgba(255,255,255, 0.25);
    }

.btn-large {
    font-size: 1.3em;
    padding: 0.5em;
}